---
import { navLinks } from '../data/site';
---

<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="#top" aria-label="PyVista home">
      <img class="brand-logo" src="/branding/pyvista.svg" alt="PyVista" />
    </a>

    <nav class="site-nav" aria-label="Primary">
      {navLinks.map((item) => <a href={item.href}>{item.label}</a>)}
    </nav>

    <div class="header-actions">
      <a class="button button-secondary header-docs" href="https://docs.pyvista.org/">Docs</a>
    </div>
  </div>
</header>
